/* # Variables
================================================== */


$color-white: #fff;
$color-grey-dark: #b1b1b1;
$color-grey-med: #e4e4e4;
$color-grey-light: #eee;

$color-text-base: #373737;
$color-text-studio-a: #4d8a85;
$color-text-studio-b: #527f92;
$color-text-studio-c: #5f6c8d;
$color-bg-base: $color-white;
$color-bg-studio-a: #a3d5d1;
$color-bg-studio-b: #a3c6d5;
$color-bg-studio-c: #afb8ce;
$color-index: $color-grey-dark;

$font-stack-sans-serif: 'Proxima Nova', 'Helvetica Neue', sans-serif;

$font-size-xs: 12px;
$font-size-sm: 13px;
$font-size-base: 16px;
$font-size-lg: 22px;
$font-size-xl: 28px;
$font-size-heading-base: 28px;
$font-size-heading-sm: 24px;

$font-letter-spacing-lg: 1.5px;
$font-letter-spacing-md: 1.0px;
$font-letter-spacing-sm: 0.5px;
$font-letter-spacing-xs: 0;

$transition-slow: 0.35s ease-out;
$transition-fast: 0.1s ease-out;
$transition-delay: 0.05s;

$num-panels: 6;

$width-schedule-wrapper-base: 100%;
$width-schedule-wrapper-max: 700px;
$width-panel-base: 100%;
$width-panel-max: 100%;
$width-panels-base: $width-panel-base * $num-panels;
$width-panels-max: $width-panel-max * $num-panels;

$width-cell-ind-sm: 13%;
$width-cell-cla-sm: (100% - $width-cell-ind-sm) / 3;
$width-cell-stu-sm: $width-cell-cla-sm;
$width-cell-ind-lg: 22%;
$width-cell-cla-lg: 100% - $width-cell-ind-lg;
$width-cell-stu-lg: (100% - $width-cell-ind-lg) / 3;

$padding-cell: 12px 0;
$padding-cell-lg: 20px 0;

$brkpoint-compressed: 847px;
$brkpoint-mobile: 640px;
$brkpoint-xs: 400px;