/* # Base Styles
================================================== */

@import 'variables',
				'mixins',
				'functions';

body {
	margin: 0;
	padding: 0;
// 	font: $font-size-base/1 $font-stack-sans-serif;
}

/*
.squarespace-shell {
	width: 100%;
}
*/

.schedule {
	
	&__wrapper {
		width: $width-schedule-wrapper-base;
		max-width: $width-schedule-wrapper-max;
		position: relative;
		margin: 3em auto;
		text-align: center;
		font: $font-size-base/1 $font-stack-sans-serif;
		color: $color-text-base;
		overflow-x: hidden;
		
		@include mq(mobile) {
// 			width: 96%;
			font-size: $font-size-lg;
		}
	}
	
	&__day {
		width: $width-panel-base;
		margin-bottom: 2em;
		text-align: center;
		text-transform: uppercase;
		box-sizing: border-box;
		
		.day {
			&__prev,
			&__name,
			&__next {
				margin: 0;
				padding: 0;
				display: inline-block;
				vertical-align: middle;
			}
			
			&__prev { background: #fff url('../img/arrow-left.png') no-repeat center center; }
			&__next { background: #fff url('../img/arrow-right.png') no-repeat center center; }
			
			&__prev,
			&__next {
				width: 30px;
				height: 30px;
				cursor: pointer;
				padding: 0;
				background-size: 50%;
				text-indent: -9999px;
			}
			
			&__name {
				width: 28%;
				font-size: $font-size-heading-base;
				color: #555;
				letter-spacing: $font-letter-spacing-lg;
				@include mq(tablet) { width: 40%; }
				@include mq(mobile) {
					width: 58%;
					font-size: $font-size-heading-sm;
				}
			}
			
			&__change--hidden {
				opacity: 0;
			}
		}
	}
	
	&__studios {
		width: 100%;
		border-spacing: 0;
	}
	
	&__panels {
		position: relative;
		width: $width-panels-base;
		max-width: $width-panels-max;
		transition: transform $transition-slow;
	
		a {
			text-decoration: none;
			color: $color-text-base;
		}
	}
	
	&__panel {
		float: left;
		width: 20%;
		border-spacing: 0;
	}
	
	&__wrapper.mobile {}
}

.cell {
	
	&--blank,
	&__heading,
	&__index,
	&__class {
		padding: $padding-cell;
		border: 1px solid #eee;
		font-size: $font-size-base;
		letter-spacing: $font-letter-spacing-lg;
		@include mq(mobile) {
			font-size: $font-size-sm;
			letter-spacing: $font-letter-spacing-sm;
		}
	}
	
	&--blank { background: #e4e4e4; }
	
	&__heading {
		position: relative;
		font-size: $font-size-lg;
		background-color: #555;
		border-color: #7b7b7b;
		text-transform: uppercase;
		
		&--blank {
			width: 10%;
			@include mq(mobile) {
				width: 19%;
			}
		}
		
		&[class*="--studio-"] {
			width: 30%;
			@include mq(mobile) {
				width: 23%;
				font-size: $font-size-sm;
				padding: 16px 0;
			}
		}
		
		&--studio-a { color: $color-bg-studio-a; }
		&--studio-b {	color: $color-bg-studio-b; }
		&--studio-c { color: $color-bg-studio-c; }
		
		.studio__arrow {
			display: none;
			
			@include mq(mobile) {
				position: absolute;
				bottom: 0;
				left: 40%;
				width: 0px;
				height: 0px;
				border: 8px solid transparent;
				border-bottom-color: #eee;
				
				&.active {
					display: inline;
				}
			}
		}
	}
	
	&__index {
		width: 10%;
		color: $color-white;
		background-color: $color-index;
		@extend %border-cancel-left;
		@include mq(mobile) {
			width: 19%;
			font-size: $font-size-sm;
		}
	}
	
	&__class {
		width: 30%;
		padding: 0;
		vertical-align: top;
		transition: -webkit-transform $transition-fast,
								transform $transition-fast,
								box-shadow $transition-fast,
								border $transition-fast;
		@include mq(mobile) {
			width: 69%;
		}
		
		&:hover {
			-webkit-transform: scale(1.01);
			transform: scale(1.014,1.01);
			box-shadow: 0 2px 7px -1px rgba(0,0,0,.45);
			border: 1px solid rgba(255,255,255,.85) !important;
		}
		
		&--studio-a { background-color: $color-bg-studio-a; }
		&--studio-b { background-color: $color-bg-studio-b; }
		&--studio-c { background-color: $color-bg-studio-c; }
		
		a {
			display: inline-block;
			width: 100%;
			height: 100%;
			padding: $padding-cell;
		}
	}
}

.class {
	&__title,
	&__times {
		display: block;
// 		font-size: $font-size-base;
	}
	
	&__title {
		margin-bottom: 10px;
		padding: 0 12px;
		font-weight: bold;
		color: #373737;
		text-transform: uppercase;
	}
	
	&__times {
		[class*="--studio-a"] & { color: #4d8a85; }
		[class*="--studio-b"] & { color: #527f92; }
		[class*="--studio-c"] & { color: #5f6c8d; }
	}
}

%border-cancel-top { border-top: none !important; }
%border-cancel-right { border-right: none !important; }
%border-cancel-bottom { border-bottom: none !important; }
%border-cancel-left { border-left: none !important; }

td[class^="cell"] {
	
	tr:first-of-type:last-of-type & {
		@extend %border-cancel-top;
	}
	
	tr:first-of-type & {
		border-top-width: 2px;
		
		&:first-of-type { @extend %border-cancel-left; }
		&:last-of-type { @extend %border-cancel-right; }
	}
	
	tr:last-of-type & {
		@extend %border-cancel-bottom;
		
		&:first-of-type { @extend %border-cancel-left; }
		&:last-of-type { @extend %border-cancel-right; }
	}
}

.cell--border-cancel-right {
	@extend %border-cancel-right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

