

$color-text-base: #373737;
$color-studio-a: #a3d5d1;
$color-studio-b: #a3c6d5;
$color-studio-c: #afb8ce;
$color-bg-studio-a: #a3d5d1;
$color-bg-studio-b: #a3c6d5;
$color-bg-studio-c: #afb8ce;
$color-white: #fff;
$color-index: #b1b1b1;

$font-stack-sans-serif: 'Arimo', 'Helvetica Neue', sans-serif;


body {
	margin: 0;
	padding: 0;
	font: 16px/1 $font-stack-sans-serif;
}

.wrapper {
	width: 90%;
	margin: 5em auto;
}

#day {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 2em;
}

.schedule {
	width: 100%;
	text-align: center;
	color: $color-text-base;
	box-sizing: border-box;
	
	a {
		text-decoration: none;
		color: $color-text-base;
	}
}

%border-cancel-top { border-top: none; }
%border-cancel-right { border-right: none; }
%border-cancel-bottom { border-bottom: none; }
%border-cancel-left { border-left: none; }

tr:first-of-type td {
	@extend %border-cancel-top;
	
	&:first-of-type {
	@extend %border-cancel-left;
	}
	&:last-of-type {
	@extend %border-cancel-right;
	}
}

tr:last-of-type td {
	@extend %border-cancel-bottom;
	
	&:first-of-type {
	@extend %border-cancel-left;
	}
	&:last-of-type {
	@extend %border-cancel-right;
	}
}

.cell {
	
	&--blank,
	&__heading,
	&__index,
	&__class {
		padding: 10px;
		border: 1px solid #eee;
	}
	
	&--blank {
		background: #e4e4e4;
		
		&:last-of-type {
		@extend %border-cancel-right;
		}
	}
	
	&__heading {
		font-size: 16px;
		background-color: #555;
		border-color: #7b7b7b;
		text-transform: uppercase;
		
		&--studio-a {
			color: $color-bg-studio-a;
		}
		
		&--studio-b {
			color: $color-bg-studio-b;
		}
		
		&--studio-c {
			color: $color-bg-studio-c;
		}
	}
	
	&__index {
		width: 10%;
		color: $color-white;
		background-color: $color-index;
		@extend %border-cancel-left;
	}

	
	&__class {
		width: 30%;
		vertical-align: middle;
		
		&:last-of-type {
		@extend %border-cancel-right;
		}
		
		&--studio-a {
			background-color: $color-studio-a;
			background-color: $color-bg-studio-a;
			
			a { color: #4d8a85; }
		}
		&--studio-b {
			background-color: $color-studio-b;
			background-color: $color-bg-studio-b;
			
			a { color: #527f92; }
		}
		&--studio-c {
			background-color: $color-studio-c;
			background-color: $color-bg-studio-c;
			
			a { color: #5f6c8d; }
		}
	}
}

.class {
	&__title {
		display: block;
		margin-bottom: 10px;
		font-size: 16px;
		color: #373737;
		text-transform: uppercase;
	}
	&__times {
		display: block;
		font-size: 13px;
	}
}