body {
  margin: 0;
  padding: 0;
  font: 16px "Proxima Nova", "Helvetica Neue", sans-serif;
}

.wrapper {
  width: 94%;
  margin: 5em auto;
}

#day {
  width: 100%;
  margin-bottom: 2em;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
}

#day .day__prev, #day .day__name, #day .day__next {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

#day .day__prev {
  background: #fff url("../img/arrow-left.png") no-repeat center center;
}

#day .day__next {
  background: #fff url("../img/arrow-right.png") no-repeat center center;
}

#day .day__prev, #day .day__next {
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 0;
  background-size: 50%;
  text-indent: -9999px;
}

#day .day__name {
  width: 24%;
  font-size: 28px;
  color: #555;
}

#day .day__change--hidden {
  opacity: 0;
}

.schedule__wrapper {
  position: relative;
  width: 100%;
  max-width: 790px;
  margin: 0 auto;
  text-align: center;
  color: #373737;
  overflow-x: visible;
}

.schedule__studios {
  width: 100%;
}

.schedule__panels {
  position: absolute;
  width: 100%;
}

.schedule__panels a {
  text-decoration: none;
  color: #373737;
}

.schedule__panel--hidden {
  opacity: 0;
  visibility: hidden;
}

.schedule__panel--active {
  opacity: 1;
  visibility: visible;
}

.cell--blank, .cell__heading, .cell__index, .cell__class {
  padding: 12px 0;
  border: 1px solid #eee;
  font-size: 13px;
  letter-spacing: 1.5px;
}

.cell--blank {
  background: #e4e4e4;
}

.cell__heading {
  font-size: 16px;
  background-color: #555;
  border-color: #7b7b7b;
  text-transform: uppercase;
}

.cell__heading--blank {
  width: 10%;
}

.cell__heading--studio-a {
  color: #a3d5d1;
}

.cell__heading--studio-b {
  color: #a3c6d5;
}

.cell__heading--studio-c {
  color: #afb8ce;
}

.cell__index {
  width: 10%;
  color: #fff;
  background-color: #b1b1b1;
}

.cell__class {
  width: 30%;
  padding: 0;
  vertical-align: top;
  transition: -webkit-transform 0.1s ease-out, transform 0.1s ease-out, box-shadow 0.1s ease-out, border 0.1s ease-out;
}

.cell__class:hover {
  -webkit-transform: scale(1.01);
  transform: scale(1.014, 1.01);
  box-shadow: 0 2px 7px -1px rgba(0, 0, 0, 0.45);
  border: 1px solid rgba(255, 255, 255, 0.85) !important;
}

.cell__class--studio-a {
  background-color: #a3d5d1;
}

.cell__class--studio-b {
  background-color: #a3c6d5;
}

.cell__class--studio-c {
  background-color: #afb8ce;
}

.cell__class a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 12px 0;
}

.class__title, .class__times {
  display: block;
  font-size: 13px;
}

.class__title {
  margin-bottom: 10px;
  padding: 0 12px;
  font-weight: bold;
  color: #373737;
  text-transform: uppercase;
}

[class*="--studio-a"] .class__times {
  color: #4d8a85;
}

[class*="--studio-b"] .class__times {
  color: #527f92;
}

[class*="--studio-c"] .class__times {
  color: #5f6c8d;
}

tr:first-of-type:last-of-type td[class^="cell"] {
  border-top: none !important;
}

tr:first-of-type td[class^="cell"]:last-of-type, tr:last-of-type td[class^="cell"]:last-of-type, .cell--border-cancel-right {
  border-right: none !important;
}

tr:last-of-type td[class^="cell"] {
  border-bottom: none !important;
}

.cell__index, tr:first-of-type td[class^="cell"]:first-of-type, tr:last-of-type td[class^="cell"]:first-of-type {
  border-left: none !important;
}

tr:first-of-type td[class^="cell"] {
  border-top-width: 2px;
}
