body {
  margin: 0;
  padding: 0;
  font: 16px/1 "Proxima Nova", "Helvetica Neue", sans-serif;
}

.wrapper {
  width: 94%;
  margin: 5em auto;
}

#day {
  width: 100%;
  margin-bottom: 2em;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
}

#day .day__prev, #day .day__name, #day .day__next {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

#day .day__prev {
  background: #fff url("../img/arrow-left.png") no-repeat center center;
}

#day .day__next {
  background: #fff url("../img/arrow-right.png") no-repeat center center;
}

#day .day__prev, #day .day__next {
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 0;
  background-size: 16px 27px;
  text-indent: -9999px;
}

#day .day__name {
  width: 32%;
  font-size: 1.9em;
}

.schedule {
  width: 100%;
  text-align: center;
  color: #373737;
  box-sizing: border-box;
}

.schedule a {
  text-decoration: none;
  color: #373737;
}

tr:first-of-type:last-of-type td[class^="cell"] {
  border-top: none !important;
}

tr:first-of-type td[class^="cell"]:last-of-type, tr:last-of-type td[class^="cell"]:last-of-type, .cell--border-cancel-right {
  border-right: none !important;
}

tr:last-of-type td[class^="cell"] {
  border-bottom: none !important;
}

tr:first-of-type td[class^="cell"]:first-of-type, tr:last-of-type td[class^="cell"]:first-of-type, .cell__index {
  border-left: none !important;
}

.cell--blank, .cell__heading, .cell__index, .cell__class {
  padding: 8px;
  border: 1px solid #eee;
}

.cell--blank {
  background: #e4e4e4;
  /*
		.cell__class + &:last-of-type { @extend %border-cancel-right; }
		.cell__class + & + &:last-of-type { @extend %border-cancel-right; }
		.cell__index + &:last-of-type { @extend %border-cancel-right; }
*/
}

.cell__heading {
  font-size: 16px;
  background-color: #555;
  border-color: #7b7b7b;
  text-transform: uppercase;
}

.cell__heading--studio-a {
  color: #a3d5d1;
}

.cell__heading--studio-b {
  color: #a3c6d5;
}

.cell__heading--studio-c {
  color: #afb8ce;
}

.cell__index {
  width: 10%;
  color: #fff;
  background-color: #b1b1b1;
}

.cell__class {
  width: 30%;
  vertical-align: middle;
}

.cell__class--studio-a {
  background-color: #a3d5d1;
}

.cell__class--studio-a a {
  color: #4d8a85;
}

.cell__class--studio-b {
  background-color: #a3c6d5;
}

.cell__class--studio-b a {
  color: #527f92;
}

.cell__class--studio-c {
  background-color: #afb8ce;
}

.cell__class--studio-c a {
  color: #5f6c8d;
}

.class__title {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #373737;
  text-transform: uppercase;
}

.class__times {
  display: block;
  font-size: 13px;
}
